<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KVB Stocks - Dashboard</title>
        <link rel="stylesheet" href="/static/user-dash-layout.css">
        <link rel="stylesheet" href="/static/user-dash-styles.css">
        <link rel="stylesheet" href="/static/nav-bar.css">
        <script type="text/javascript" src="/static/user-dash.js" defer></script>
    </head>
    <header>
        <table class="logo">
            <td><a class="logo" href="/user-dash.html">KVB Stocks</a></td>
        </table>
        <table class="nav">
            <td><a href="/user-trans.html">Transactions</a></td>
            <td><a href="/user-port.html">Portfolio</a></td>
            <td><a href="/user-login.html">Log Out</a></td>
        </table>
        <table class="line">
            <tr></tr>
        </table>
    </header>
    <!--always copy above text for nav bar-->
    <body>
        <div class="welcome">
            <table>
                <tr>
                    <td>Welcome Back!</td>
                </tr>
            </table>
        </div>
        <div class="container">
            <div class="table">
                <table>
                    <tr>
                        <td class="want">I want to...</td>
                    </tr>
                    <tr>
                        <td id="view" class="option"><a href="/user-stocks.html">view stocks</a></td>
                    </tr>
                    <tr>
                        <td id="buy" class="option"><a href="/user-buy.html">buy/sell stocks</a></td>
                    </tr>
                    <tr>
                        <td id="transfer" class="option"><a href="/user-dep.html">transfer cash</a></td>
                    </tr>
                </table>
            </div>
            <div class="text">
                <div class="view">
                    <table id="viewText">
                        <th>View Stocks</a></th>
                        <tr>
                            <td>Take a look at the available stocks we have
                                available for trading.</td>
                        </tr>
                    </table>
                </div>
                <div class="buy">
                    <table id="buyText">
                        <th>Buy/Sell Stocks</th>
                        <tr>
                            <td>Buy or sell stocks within this portal.</td>
                        </tr>
                    </table>
                </div>
                <div class="transfer">
                    <table id="transferText">
                        <th>Transfer Cash</th>
                        <tr>
                            <td>Deposit or withdraw cash with this portal.</td>
                        </tr>
                    </table>
<!--add text that says to hover over the items and have it hidden when 
the other items are being shown-->
                </div>
            </div>
        </div>        
    </body>
</html>
