<html>
    <head>
        <meta charset="utf-8">
        <title>KVB Stocks - Confirmation Page</title>
        <link rel="stylesheet" href="/static/user-acc-layout.css">
        <link rel="stylesheet" href="/static/user-acc-styles.css">
        <link rel="stylesheet" href="/static/nav-bar.css">
    </head>
    <header>
        <table class="logo">
            <td>
                KVB Stocks
            <td>
        </table>
    </header>
    <body>
        <h1 class="conf">
            Confirmation Page
        </h1>
        <p>
            Your transaction is now complete. Please click <a href="/user-dash.html">here</a> to 
            go back to the home page.
        </p>
    </body>
</html>
