<html>
    <head>
        <meta charset="utf-8">
        <title>KVB Stocks - Create Account</title>
        <link rel="stylesheet" href="user-exp-layout.css">
        <link rel="stylesheet" href="user-exp-styles.css">
    </head>
    <header>
        <table class="logo">
            <td>
                KVB Stocks
            <td>
        </table>
    </header>
    <body>
        <div class="container">
            <table class="lside">
                <tr>
                    <td class="head1">
                        Questions About Investing
                    </td>
                </tr>
                <tr>
                    <td class="head12">
                        We're legally required to collect this information. This does not
                        affect your account creation.
                    </td>
                </tr>
            </table>
            <div class="rside">
                <div class="head2">
                    <p>
                        What's your employment status?
                    </p>
                </div>
                <div class="answers">
                    <form>
                        <div class="options">
                            <input type="radio" name="status" value="student" required>student<br>
                            <input type="radio" name="status" value="unemployed">unemployed<br>
                            <input type="radio" name="status" value="employed">employed<br>
                            <input type="radio" name="status" value="retired">retired<br>
                        </div>
                        <div class="next">
                            <!--change the form action to the next page-->
                            <input type="submit" value="next" formaction="user-acc.html">
                        </div>
                    </form>
                </div>
                <div class="bottom">
                    <p>
                        Already have an account?
                        <a href="user-login.html">Login Here</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
