<html>
    <head>
        <meta charset="utf-8">
        <title>KVB Stocks - User Login</title>
        <link rel="stylesheet" href="/admin/user-login-styles.css"> <!-- Fixed path -->
    </head>
    <header>
        <table class="logo">
            <td>KVB Stocks</td>
        </table>
    </header>
    <body>
        <div class="description">
            <p>Log into your KVB Account</p>
        </div>
        <div class="credentials">
            <form>
                <div class="epass">
                    <label for="email">Email*</label><br>
                </div>
                <input type="text" id="email" name="email"><br>
                <div class="epass">
                    <label for="password">Password*</label><br>
                </div>    
                <input type="password" id="password" name="password"><br>
                <div class="submit">
                    <input type="submit" value="Login">
                </div>    
            </form>
        </div>
        <div class="bottom">
            <p>Don't have an account? <a href="/create-acc.html">Create one here</a></p> <!-- Fixed path -->
        </div>
    </body>
</html>

