<html>
    <head>
        <meta charset="utf-8">
        <title>KVB Stocks - Admin Login Page</title>
        <link rel="stylesheet" href="../static/admin-login-layout.css">
        <link rel="stylesheet" href="../static/admin-login-styles.css">
        <link rel="stylesheet" href="../user/static/nav-bar.css">
        <!--need to ask for js file to validate login 03/22/2025-->
    </head>
    <header>
        <table class="logo">
            <td>
                KVB Stocks
            <td>
        </table>
    </header>
    <body>
        <div class="description">
            <p>
                Log into your KVB Admin Portal
            </p>
        </div>
        <div class="credentials">
            <form>
                <div class="epass">
                    <label for="email">email*</label><br>
                </div>
                    <input type="email" id="email" name="email" required><br>
                <div class="epass">
                    <label for="password">password*</label><br>
                </div>    
                    <input type="password" id="password" name="password" required><br>
                <div class="submit">
                    <input type="submit" value="login" formaction="/admin-dash.html">
                </div>    
            </form>
        </div>
        <div class="bottom">
            <p>
                Are you a customer? <a href="../user/templates/user-login.html">Login here</a>
            </p>
        </div>
    </body>
</html>
