<html>
    <head>
        <meta charset="utf-8">
        <title>KVB Admin - Confirmation Page</title>
        <link rel="stylesheet" href="/static/user-acc-layout.css">
        <link rel="stylesheet" href="/static/user-acc-styles.css">
        <link rel="stylesheet" href="/user/static/nav-bar.css">
    </head>
    <header>
        <table class="logo">
            <td>
                KVB Admin
            <td>
        </table>
    </header>
    <body>
        <h1 class="conf">
            Confirmation Page
        </h1>
        <p>
            You have successfully added this stock. Please click <a href="/admin-dash.html">here</a> 
            to go back to your dashboard.
        </p>
    </body>
</html>
