<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KVB Stocks - Admin Dashboard</title>
        <link rel="stylesheet" href="../static/admin-dash-layout.css">
        <link rel="stylesheet" href="../static/admin-dash-styles.css">
        <link rel="stylesheet" href="../user/static/nav-bar.css">
        <script type="text/javascript" src="../static/admin-dash.js" defer></script>
    </head>
    <header>
        <table class="logo">
            <td><a class="logo" href="/admin-dash.html">KVB Admin</a></td>
        </table>
        <table class="nav">
            <td><a href="/admin-login.html">Log Out</a></td>
        </table>
    </header>
    <!--always copy above text for nav bar-->
    <body>
        <div class="welcome">
            <table>
                <tr>
                    <td>Welcome Back, Jane!<!--create function to enter user fn here--></td>
                </tr>
            </table>
        </div>
        <div class="container">
            <div class="table">
                <table>
                    <tr>
                        <td class="want">I want to...</td>
                    </tr>
                    <tr>
                        <td id="stock" class="option"><a href="/admin-stock.html">create new stocks</a></td>
                    </tr>
                    <tr>
                        <td id="market" class="option"><a href="/market.html">change market hours</a></td>
                    </tr>
                    <tr>
                        <td id="sched" class="option"><a href="/sched.html">change market schedule</a></td>
                    </tr>
                </table>
            </div>
            <div class="text">
                <div class="create">
                    <table id="viewStock">
                        <th>Create New Stocks</a></th>
                        <tr>
                            <td>Create new stocks for customers to trade.</td>
                        </tr>
                    </table>
                </div>
                <div class="hours">
                    <table id="viewMarket"">
                        <th>Change Market Hours</th>
                        <tr>
                            <td>Edit the available times for customers to execute trades.</td>
                        </tr>
                    </table>
                </div>
                <div class="sched">
                    <table id="viewSched">
                        <th>Change Market Schedule</th>
                        <tr>
                            <td>Modify holiday schedule that affect trading availability.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>        
    </body>
</html>
