<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KVB Admin - Market Hours</title>
        <link rel="stylesheet" href="../static/market-layout.css">
        <link rel="stylesheet" href="../static/market-styles.css">
        <link rel="stylesheet" href="../../user/static/nav-bar.css">
        <script type="text/javascript" src="../static/market.js" defer></script>
    </head>
    <header>
        <table class="logo">
            <td><a class="logo" href="./admin-dash.html">KVB Admin</a></td>
        </table>
        <table class="nav">
            <td><a href="./admin-login.html">Log Out</a></td>
        </table>
        <table class="line">
            <tr></tr>
        </table>
    </header>
    <!--always copy above text for nav bar-->
    <body>
        <table class="title">
            <tr>
                <td>Market Hours</td>
            </tr>
        </table>
    <!--always copy above for page title-->
    <form>
        <div class="bod">
            <table class="DT">
                <tr>
                    <th>Days*</th>
                </tr>
                <tr>
                    <td><button type="button" id="buttonSunday" class="" onclick="toggleMarketDay('Sunday')">S</button></td>
                    <td><button type="button" id="buttonMonday" class="" onclick="toggleMarketDay('Monday')">M</button></td>
                    <td><button type="button" id="buttonTuesday" class="" onclick="toggleMarketDay('Tuesday')">T</button></td>
                    <td><button type="button" id="buttonWednesday" class="" onclick="toggleMarketDay('Wednesday')">W</button></td>
                    <td><button type="button" id="buttonThursday" class="" onclick="toggleMarketDay('Thursday')">T</button></td>
                    <td><button type="button" id="buttonFriday" class="" onclick="toggleMarketDay('Friday')">F</button></td>
                    <td><button type="button" id="buttonSaturday" class="" onclick="toggleMarketDay('Saturday')">S</button></td>
                </tr>
                <tr>
                    <!--hi :) -->
                    <th>Time*</th>
                </tr>
                <tr>
                    <td>
                        <div class="start">
                            <input type="time" id="startTime" min="00:00" max="23:59" value="09:00" required />
                        </div>
                    </td>
                    <td>to</td>
                    <td>
                        <div class="end">
                            <input type="time" id="endTime" min="00:00" max="23:59" value="17:00" required />
                        </div>
                    </td>
                </tr>
            </table>
            <div class="extra">
                <button formaction="./admin-dash.html">cancel</button>
                <!-- clear isn't working again smhhh look up how to refresh the page for it to work -->
                <button type="submit" formaction="./conf-market.html" onclick="updateMarketHours()">submit</button>
            </div>
        </div>
    </form>
    </body>
</html>
