@charset "utf-8";

html {
    max-width: 1920px;
    max-height: 1080px;
    margin: 2%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding-top: 25px;
    padding-bottom: 20px;
}

.lside {
    display: flex;
    align-content: center;
    padding-left: 125px;
    width: 630px;
    padding-right: 50px;
    align-items: center;
}

.lside td {
    display: flex;
    flex-direction: row-reverse;
}

.rside {
    padding-right: 125px;
    padding-left: 50px;
}

.head2 {
    margin-bottom: 60px;
}

.names {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
}

.names > input[type=text]  {
    width: 275px;
    height: 30px;
    margin-bottom: 7%;
}

.epc {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.epc > input[type=email], .epc > input[type=password] {
    width: 570px;
    margin-bottom: 7%;
    height: 30px;
} 

.next input[type=submit]{
    display: flex;
    justify-content: flex-end;
    width: auto;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom {
    margin-top: 40px;
}