@charset "utf-8";

@font-face {
    font-family: 'bahnschrift';
    src: url(bahnschrift.ttf);
}

html {
    font-family: 'bahnschrift';
    background-color: #edddd4;
}

header {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

.head1 {
    font-size: 3em;
}

.description {
    font-size: 1.5em;
}

.description > p > a {
    color: #c44536;
}

.description > p > a:hover {
    color: #772e25;
}