@charset "utf-8";

/*title area - start*/

.welcome {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.welcome td {
    text-align: right;
}

/*title area - end*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.table, .text {
    width: 260px;
}

.text th, .text td {
    display: flex;
    margin: 5px;
}

.view, .buy, .transfer {
    z-index: 0;
    position: absolute;
}

.view, .buy {
    visibility: hidden;
}